  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Recover University</small>
          </div>
          <section>
            <p>Click on the recover button to undo the last delete university named {{universityName}} !</p>    
            <button type="button" class="btn btn-primary mt-4" (click)="recover()">Recover</button>
          </section>
        </div>
      </div>
    </div>
  </div>